body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.large-txt{
  font-size: 100px;
  font-weight: bold;
  color: grey;
  font-family: cursive;
  text-align: center;
}

.menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu a {
  font-size: 20px;
  color: #FEF2BF;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 20px;
}
.menu a:hover {
  text-decoration: underline;
}

.menu a:active {
  color: #FEF2BF;
  text-decoration: none;
}

#restart-btn {
  font-size: 20px;
  color: #FEF2BF;
  background: none;
  border: none;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  margin-left: 20px;
}

#restart-btn:hover {
  text-decoration: underline;
}

#restart-btn:active {
  color: #FEF2BF;
  text-decoration: none;
}

.instructions-page{
  background-color: #011F3F;
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding: 50px;
}
.instructions-page h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.instructions-page p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.instructions-page ol {
  list-style-type: decimal;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
}
.instructions-page li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: left;
}
.instructions-page a {
  font-size: 20px;
  color: #FEF2BF;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
}
.instructions-page a:hover {
  text-decoration: underline;
  margin-bottom: 10px;
}
.instructions-page a {
  font-size: 20px;
  color: #FEF2BF;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
}
.instructions-page a:hover {
  text-decoration: underline;
}

.instructions-page a:active {
  color: #FEF2BF;
  text-decoration: none;
}